header {
  min-height: 90vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  & > * {padding: .5em 0;}
  h1, h3 {
    display:flex;
    align-items:center;
    color:$color-1;
    @include fonts-content;
    letter-spacing: .05em;
    text-shadow: 2px 2px 2px black;
    flex:2;
  }
  h1 {flex:6; align-items:flex-end;}
  i {color:$color-1; @include fast-animation;}
  i:hover {color:$color-3;}
}

.next-page {
  flex:1;
  padding: 0;
  a {font-size: 5em; @include fast-animation;}
  a{color: $color-2;}
  a:hover {color: $color-4;}
}

.education-hide {
	display: none;
  background:red;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: .5em;
	max-width: 90%;
	padding: .5em 1em;
	p {padding: .5em 0;}
}


@media screen and (min-width: 720px) {
  header {min-height: 80vh;}
}

@media screen and (min-width: 900px) {
  header {min-height: 90vh;}
}
