DirectoryIndex index.html

ErrorDocument 404 /index.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

Options -Indexes

# 1 Week Cache for static objects
<filesMatch ".(jpg|png)$">
Header set Cache-Control "max-age=648000, public"
</filesMatch>
