.contact-block {
  display:flex;
  background: transparentize($color-1, .15);
  min-height: 30vh;
  @include border-shadow;
  ul {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    a {
      color:$cosmos;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      @include animation-fast;
      &:hover {
        color: $color-2;
      }
    }
    i {
      font-size: 2.5rem;
      padding-right: .5rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .contact-block {
    ul {
      padding: 1rem 3rem;
    }
  }
}
