body {
  //display:flex;
  flex-direction:column;
}
#about-me.main-wrapper {
  //padding-top: 1rem;
}
.main-wrapper {
  padding-top: 1rem;
  width: 100%;
  min-height: 50vh;
  @include flex-center;
  @include fonts-header;
  &:nth-of-type(even) {background: $color-5; color:$color-1;}
  &:nth-of-type(odd) {background: $color-1; color:$color-5;}
  //box-shadow: inset 0px 0px 15px black;
}

.main-container {
  width:95%;
  padding-bottom: 2rem;
  margin:0 auto;
  //&.column {flex-direction: column;}
  @include flex-center;
  @include fonts-content;
}

#about-me p {padding-bottom: .75rem;}

@media screen and (min-width: 775px) {
  .main-container {
    max-width: 95%;
    p {max-width: 80%; text-align:left; margin: 0 auto; }
  }
  .main-container.row {flex-direction: row; align-items:flex-start;}
}

@media screen and (min-width: 1200px) {
  .main-container {max-width: 85%;}
}

@media screen and (min-width: 1400px) {
  .main-container {max-width: 75%;}
}
