.img-container-single {
  display:flex;
  justify-content:center;
  max-width: 65%;
  max-height: 65%;
}

.container-triple{
  @include flex-center;
  padding:.5em;
  flex-wrap:wrap;
  .img-triple {
    max-width: 90%;
    height:auto;
    margin:0 auto;
    @include border-shadow;
  }
  i {color:$color-1; font-size: 12em;}
}

.headshot {
  width:75%;
  height:75%;
  border-radius: 50%;
}

.img-triple.headshot {border-radius: 50%; min-width:50%; min-height: 50%; max-width: 200px; min-width: 200px;}

@media screen and (min-width: 750px) {
  .img-container-single {
    max-width: 33%;
    max-height: 33%;
  }
  .headshot {
    width:50%;
    height:50%;
  }
  .container-triple i {color:$color-1; font-size: 8em;}
}
