.home header {
  min-height: 75vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  h1, h2, h3 {
    padding: .5rem;
    color:$color-1;
    letter-spacing: .025rem;
    text-shadow: 2px 2px 2px black;
    flex:1;
  }
  h1 {
    display:flex;
    flex:5;
    align-items:flex-end;
    justify-content: center;
  }

  i {color:$color-1; @include fast-animation;}
  i:hover {color:$color-3;}
  h2 {font-size: 1.75rem;}
}

.landing-next {
  background:transparentize($cosmos, .15);
  padding: .5rem 1rem;
  @include border-shadow;
  @include animation-fast;
  &:hover {
    background: transparentize($color-3, .25);
    @include animation-fast;
  }
}

.next-page {
  padding: 0;
  a {font-size: 5rem; @include fast-animation;}
  a{color: $color-2;}
  a:hover {color: $color-4;}
}

@media screen and (min-width: 720px) {
  .home header {min-height: 75vh;}
}

@media screen and (min-width: 900px) {
  .home header {min-height: 80vh;}
}
