.article-link {
  a{
    @include fonts-header;
    text-decoration: underline;
    @include animation-fast;
    color: $color-3;
    &:hover {
      color: $color-2;
    }
  }
}

a.article-link-red {
  color: $color-2;
  @include animation-fast;
  &:hover {color: $cosmos-comp;
    text-decoration: underline
  }
}
