#landing {
  background: url("/jnv6/img/bg/stars-bg.jpg");
  background-position:center bottom;
  @include fullbg;
}

#contact {
  background: url("/jnv6/img/bg/desk-bg.jpg");
  background-position:center bottom;
  @include fullbg;
  min-height: 70vh;
}

// BACKGROUND IMAGE FOR NAV ON CONTENT PAGES

.page-wrapper.content {
  background:url('/jnv6/img/bg/stars-bg.jpg');
  @include fullbg;
}

// COLOR BG FOR CONTENT PAGES

.main-wrapper#websites {
  background: $color-1;
}

.main-wrapper#research {
  background: $color-5;
}

@media screen and (min-width: 720px) {
  #landing {
    background:url("/jnv6/img/bg/stars-bg-hd.jpg");
    background-position:center center;
  }
  #contact {
    background:url("/jnv6/img/bg/desk-bg-hd.jpg");
    background-position:center center;
  }
}
