#landing {
  background: url("/jnv6/img/bg/stars-bg-mobile.jpg");
  background-position:center bottom;
  background-size: cover;
  min-height: 75vh;
}

#contact {
  background: url("/jnv6/img/bg/desk-bg-mobile.jpg");
  background-position:center bottom;
  min-height: 70vh;
}

// BACKGROUND IMAGE FOR NAV ON CONTENT PAGES

.page-wrapper.content {
  background:url('/jnv6/img/bg/stars-bg-mobile.jpg') no-repeat;
}

// COLOR BG FOR CONTENT PAGES

.main-wrapper#websites {
  background: $color-1;
}

.main-wrapper#research {
  background: $color-5;
}

@media screen and (min-width: 751px) {
  .page-wrapper.content {
    background:url('/jnv6/img/bg/stars-bg-hd.jpg');
    @include fullbg;
  }

  #landing {
    background:url("/jnv6/img/bg/stars-bg-hd.jpg");
    background-position:center center;
    @include fullbg;
  }

  #contact {
    background:url("/jnv6/img/bg/desk-bg-hd.jpg");
    background-position:center center;
    @include fullbg;
    min-height: 70vh;
  }
}
