.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  width:95%;
  padding-bottom: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.column {flex-direction: column;}
  @include fonts-content;

}

.element-container {
  margin: 1em 0;
  background: $color-4;
  @include border-shadow;
  max-width: 95%;
  color: white;
  h5 {
    color: white;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 100%;
    //@include border-shadow;
  }
  figcaption {
    font-size: .6em;
    padding: 1.5em;
  }
  .element-text {
    background: $color-1;
    width: 100%;
    color: $color-5;
    align-items: flex-start;
    ul {
      padding-left: 2em;
    }
    h6 {
      padding: 1em 0;
      text-align: center;
      width: 100%;
    }
    padding-bottom: 1em;
  }
}



.container-dark {
  background: $color-5;
}

@media screen and (min-width: 775px) {
  .element-container {
    max-width: 75%;
  }
}
