footer {width: 100%;}

.footer {
  min-height: 5vh;
  width: 100%;
  text-align: center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background:transparentize($cosmos, .15);
  box-shadow: -5px 0px 15px black;
  li {
    padding:.25em 1em;
    flex:1 0 auto;
    }
  a {
    padding:.5em;
    color: $color-1;
    text-shadow: -2px 2px 2px #999;
    @include animation-fast;
    &:hover {transform: translate(2px, -2px);}
  }
  i {font-size: 1.2em;}
  p {color: $color-1;}
}
