// HOME PAGE

header h1 {padding-bottom: .25em;}

.main-wrapper {
  h2, h3 {
    letter-spacing: .03em;
    text-align: left;
    min-width: 90vw;
  }
  .main-container h2 {
    text-align: left;
  }
}

// FAVICONS OVER ARTICLE TITLES

.container-triple{
  a { @include flex-center;}
  i {color:$color-1; font-size: 12em;}
}

// CONTENT

header{
  text-align: center;
  img {
    width: 100%;
    border-radius: 5px;
    margin: .5em 0;
    @include box-shadow;
  }
  h2 {font-size: 1.3em;}
  h3 {font-size: 1.15em;}
  h2, h3 {color: #666;}
}

@media screen and (min-width: 775px) {
  .main-wrapper {
    h2, h3{
      min-width: 80vw;
    }
  }
}

@media screen and (min-width: 1250px) {
  .main-wrapper {
    h2, h3{
      min-width: 70vw;
    }
  }
}
