$cosmos: #263F8B;
$cosmos-comp: #e63846;

/* Comsos
$color-1: #C3E2D7;
$color-2: #A6CFD5;
$color-3: #263F8B;
$color-4: #201F44;
$color-5: #100D1E;
*/

/* Diversity
$color-1: #f1f7ed;
$color-2: #e63846;
$color-3: #a8d8db;
$color-4: #467b9d;
$color-5: #263F8B;//1c3556
*/

/* The Blues */
$color-1: #f3fafd;
$color-2: #1fa6df;
$color-3: #007ea7;
$color-4: #143556;
$color-5: #1a1a1a;
$color-6: #03171e;

/* The Greys */
$grey-1: #dbdcdc;
$grey-2: #c5c3c6;
$grey-3: #1b85a1;
$grey-4: #4c5c68;
$grey-5: #46494c;

$github: #913399;

@mixin bg-gradient-black {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1a1a1a+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */}

@mixin bg-gradient-black-reverse {background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(6,6,6,0) 23%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(6,6,6,0) 23%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(6,6,6,0) 23%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */}

@mixin bg-gradient-white {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+23,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(59,59,59,0) 23%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(59,59,59,0) 23%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(59,59,59,0) 23%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

// @mixin bg-gradient-white-reverse {
// 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+23,1+100 */
// background: url("/jnv6/img/bg/desk-bg-hd.jpg"), -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(59,59,59,0) 23%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
// background: url("/jnv6/img/bg/desk-bg-hd.jpg"), -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%,rgba(59,59,59,0) 23%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: url("/jnv6/img/bg/desk-bg-hd.jpg"), linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(59,59,59,0) 23%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
// }

@mixin bg-landing-stars {
background: url("/jnv6/img/bg/stars-bg-hd.jpg"), -moz-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
background: url("/jnv6/img/bg/stars-bg-hd.jpg"), -webkit-linear-gradient(top, rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: url("/jnv6/img/bg/stars-bg-hd.jpg"), linear-gradient(to bottom, rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


$bg-test-grad: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(59,59,59,0) 23%,rgba(255,255,255,1) 100%);
