$cosmos: #263F8B;
$color-comp: #e63846;

/* Comsos
$color-1: #C3E2D7;
$color-2: #A6CFD5;
$color-3: #263F8B;
$color-4: #201F44;
$color-5: #100D1E;
*/

/* Diversity
$color-1: #f1f7ed;
$color-2: #e63846;
$color-3: #a8d8db;
$color-4: #467b9d;
$color-5: #263F8B;//1c3556
*/

/* The Blues */
$color-1: #f3fafd;
$color-2: #1fa6df;
$color-3: #007ea7;
$color-4: #143556;
$color-5: #03171e;

/* The Greys
$color-1: #dbdcdc;
$color-2: #c5c3c6;
$color-3: #1b85a1;
$color-4: #4c5c68;
$color-5: #46494c;
*/
