@mixin fullbg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
@mixin box-shadow {box-shadow: 5px 5px 5px #111;}
@mixin fast-animation {transition: all .5s;}
@mixin animation-fast {transition: all .5s;}
@mixin slow-animation {transition: all 1.5s;}
@mixin animation-slow {transition: all 1.5s;}
@mixin border {border: 2px solid #222; border-radius: 10px;}
@mixin border-bottom {border-bottom: 1px solid #222;}
@mixin border-shadow{border-radius: 10px; box-shadow: 5px 5px 15px #111;}
@mixin fonts-header {font-family: teko,'century gothic', arial, sans-serif;}
@mixin fonts-content{font-family: Karla, lato, arial, sans-serif;}
@mixin flex-center{
  display:flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  justify-content: center;
}
